/* https://github.com/vuejs/vue-loader/issues/328#issuecomment-249206638
 * Este fichero es sólo para variables y mixins globales, estilos globales van
 * en app.css.
 */

$lavendar: #eedbff;
$text-padding: 2px;
$header-post-padding: 20px;
$main-background-color: #eef2ff;
$nav-width: 160px;