/* This file is for your main application css. */

//@import "./phoenix.css";

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../static/fonts/roboto-v19-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
         url('../static/fonts/roboto-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../static/fonts/roboto-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
  }

html {
    font-family: "Roboto", "Noto Sans", "Noto Sans CJK JP", sans-serif;

}

html, body {
    width: 100%;
    display: table;
    height: 100%;
    margin: 0;
    padding: 0;
}

body.drag * {
    pointer-events: none;
}

#app {
    display: table-row;
}

.entry-container {
    position: absolute;
}